<body>
  
  <div class="left">
    <button (click)="buttonClick()" class="Cross_button" [disabled]="currentLight ==='red'">Пресечи</button>
    <div class="traffic_light_left">

      <div  [class.active]="currentLight === 'red'" class="lights red"></div>
      <div  [class.active]="currentLight === 'yellow'" class="lights yellow"></div>
      <div  [class.active]="currentLight === 'green'" class="lights green"></div>

    </div>
   </div>
  <div class="vertical_TL">
    <button (click)="warningButton()" class="warning">Aвария</button>
    <div class="traffic_light">

      <div  [class.active]="currentLight2 === 'red'" class="lights red"></div>
      <div  [class.active]="currentLight2 === 'yellow'" class="lights yellow"></div>
      <div  [class.active]="currentLight2 === 'green'" class="lights green"></div>

    </div>
    <button (click)="buttonClick()" class="Cross_Top_button" [disabled]="currentLight2 ==='red'">Пресечи</button>
    <div class="white_stripes"></div>
    <div class="white_stripes"></div>
    <div class="white_stripes"></div>

    <div  class="white_stripes"></div>
    <div class="white_stripes"></div>
    <div class="white_stripes"></div>

    <div class="traffic_light">
      
      <div  [class.active]="currentLight2 === 'red'" class="lights red"></div>
      <div  [class.active]="currentLight2 === 'yellow'" class="lights yellow"></div>
      <div  [class.active]="currentLight2 === 'green'" class="lights green"></div>

    </div>
    <button (click)="buttonClick()" class="Cross_Bottom_button" [disabled]="currentLight2 ==='red'">Пресечи</button>

  </div>

   <div calss="right">
    <button (click)="buttonClick()" class="Cross_button" [disabled]="currentLight ==='red'">Пресечи</button>
    <div class="traffic_light_right">

      <div  [class.active]="currentLight === 'red'" class="lights red"></div>
      <div  [class.active]="currentLight === 'yellow'" class="lights yellow"></div>
      <div  [class.active]="currentLight === 'green'" class="lights green"></div>

    </div>
  </div>
 
</body>